# Created by .ignore support plugin (hsz.mobi)
/.idea/
/hibernate.iml
/.project
/.settings/
/hibernate-task1/.settings/
/hibernate-task1/hibernate-task1.iml
/hibernate-task1/.classpath
/hibernate-task1/.project
/hibernate-task2/.classpath
/hibernate-task2/.project
/hibernate-task2/hibernate-task2.iml
/hibernate-task4/.classpath
/hibernate-task4/.project
/hibernate-task4/hibernate-task4.iml
/hibernate-task7/.classpath
/hibernate-task7/hibernate-task7.iml
/hibernate-task7/.project
